@model IEnumerable<UBOSCENS.Models.VisualizerStatistics>

@{
    ViewBag.Title = "Manage Visual Statistics";
    Layout = "~/Views/Shared/NoFooter.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Home", new { @class = "btn icon-btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sectionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sectionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id, @class = "btn icon-btn btn-default" }) |
            @Html.ActionLink("Details", "Details", new { id = item.id, @class = "btn icon-btn btn-default" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id,@class = "btn icon-btn btn-default" })
        </td>
    </tr>
}

</table>
