@{
    ViewBag.Title = "Visualize";
    Layout = "~/Views/Shared/DataLayout.cshtml";
}


<input id="data" hidden value='@Html.Raw(ViewBag.table)' />
<input id="identifier" hidden value="@ViewBag.identifier" />
<input id="graphdata" hidden value='@Html.Raw(ViewBag.graph)' />
<div class="btn-group hide">
    <button type="button" class="btn btn-primary dropdown-toggle" style=" margin-left: -16px; margin-bottom: 10px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Graphing Options <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="selections" id="line"><a href="#"><img class="media-object" style="width: 12%;" src="~/Content/Images/icons/line_chart.png" alt="Line Chart">Line Chart</a></li>
        <li class="selections" id="column"><a href="#"><img class="media-object" style="width: 12%;" src="~/Content/Images/icons/bar.png" alt="Line Chart">Bar Chart</a></li>
        <li class="selections" id="scatter"><a href="#"><img class="media-object" style="width: 12%;" src="~/Content/Images/icons/scatter_plots.png" alt="Line Chart">Scatter Plot</a></li>
        <li class="selections" id="heatmap"><a href="#"><img class="media-object" style="width: 12%;" src="~/Content/Images/icons/heat_map.png" alt="Line Chart">Heat Map</a></li>
        <li class="selections hide" id="pie"><a href="#"><img class="media-object" style="width: 12%;" src="~/Content/Images/icons/heat_map.png" alt="Line Chart">Pie Chart</a></li>

    </ul>
</div>

<div class="row well" style="background-color:white;">
    <div class="btn-group">
        <button class="btn btns btn-default btn-sm dropdown-toggle" type="button" id="line" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" border-radius: 0px;">
            <i class="fa fa-line-chart"></i>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btns btn-default btn-sm dropdown-toggle" type="button" id="column" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" border-radius: 0px;">
            <i class="fa fa-bar-chart"></i>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btns btn-default btn-sm dropdown-toggle" type="button" id="scatter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" border-radius: 0px;">
            Scatter Graph
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btns btn-default btn-sm dropdown-toggle" type="button" id="heatmap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" border-radius: 0px;">
            Heat Map
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btns btn-default btn-sm dropdown-toggle" type="button" id="pie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" border-radius: 0px;">
            <i class="fa fa-pie-chart"></i>
        </button>
    </div>

    <div class="btn-group">
        <select id="picker" class="selectpicker bg-primary" style="margin-top: -11px;" multiple>
            @foreach (var item in ViewBag.selections)
            {
                <option selected>@item</option>
            }
        </select>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="showTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" border-radius: 0px;">
            <i class="fa fa-table"></i>

        </button>
    </div>


</div>
<div class="row hide" style=" z-index: 900; position: relative;">
    <div class="wrap-select">
        <div id="Revision" class="wrapper-dropdown-3">
            <span>Select a Revision:</span>
            <ul class="dropdown"></ul>
        </div>
        <div class="wrap-select">
            <div id="Chapter" class="wrapper-dropdown-3">
                <span>Select a Section:</span>
                <ul class="dropdown"></ul>
            </div>
            <div class="wrap-select">
                <div id="Indicator" class="wrapper-dropdown-3">
                    <span>Select an Indicator:</span>
                    <ul class="dropdown"></ul>
                </div>
            </div>
            <div class="wrap-select">
                <div id="Table" class="wrapper-dropdown-3">
                    <span>Select a Table:</span>
                    <ul class="dropdown"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="container"></div>

    <div class="row" style="width:40%;padding-bottom:15px;">

    </div>
    <div class="row" id="tabl" style=" margin-top: 0px; margin-right: 19px; margin-left: -22px;">
        <table id="table" class="table table-bordered" style=" background: #333;    margin: 20px;">
            <thead>
                <tr style="color:white!important">
                    @foreach (var th in ViewBag.titles)
                    {
                        <td><font color="#FFF">@th</font></td>
                    }
                </tr>
            </thead>
            <tbody style="background: white;"></tbody>
        </table>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
@section scripts
{
    <script>
        $("#tabl").hide();
        $("#showTable").on("click", function (e) {
            if (!$("#tabl").is(":visible")) {
                $("#tabl").show();
                $("#container").hide()
                $(this).html("Show Graph");
            } else if ($("#tabl").is(":visible")) {
                $("#tabl").hide();
                $("#container").show()
                $(this).html("Show Table");
            }
        })
        var jellybeans = "";
        function graphOut(data) {
            data = JSON.parse(data);
            var dynatable = $('#table').dynatable({
                table: {
                    defaultColumnIdStyle: 'lowercase'
                },
                dataset: {
                    records: data.Table
                }
            });


            data = data.Graph;
            map = new Highcharts.chart({
                chart: {
                    renderTo: 'container',
                    type: 'column'
                },
                title: {
                    text: data.Title
                },
                subtitle: {
                    text: 'Source: <a href="http://www.ubos.org/">UBOS.org</a>'
                },
                xAxis: {
                    categories: data.xAxis,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Population (millions)',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: data.yAxis
            });
        }
        $("#picker").on("change", function (e) {
            $.post("/DataImport/getFilter/", { identifier: $("#identifier").val(), data: $(this).val() }, function (data) {
                console.log(data);
                graphOut(data);
            });

        })
        // Load the fonts
        Highcharts.createElement('link', {
            href: '//fonts.googleapis.com/css?family=Unica+One',
            rel: 'stylesheet',
            type: 'text/css'
        }, null, document.getElementsByTagName('head')[0]);

        Highcharts.theme = {
            colors: ["#7cb5ec", "#f7a35c", "#90ee7e", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
            chart: {
                backgroundColor: null,
                style: {
                    fontFamily: "Dosis, sans-serif"
                }
            },
            title: {
                style: {
                    fontSize: '16px',
                    fontWeight: 'bold',
                    textTransform: 'uppercase'
                }
            },
            tooltip: {
                borderWidth: 0,
                backgroundColor: 'rgba(219,219,216,0.8)',
                shadow: false
            },
            legend: {
                itemStyle: {
                    fontWeight: 'bold',
                    fontSize: '13px'
                }
            },
            xAxis: {
                gridLineWidth: 1,
                labels: {
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            yAxis: {
                minorTickInterval: 'auto',
                title: {
                    style: {
                        textTransform: 'uppercase'
                    }
                },
                labels: {
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            plotOptions: {
                candlestick: {
                    lineColor: '#404048'
                }
            },


            // General
            background2: '#F0F0EA'

        };

        // Apply the theme
        Highcharts.setOptions(Highcharts.theme);


        var json = JSON.parse($("#data").val());
        jellybeans = json;
        var graphdata = JSON.parse($("#graphdata").val())
        $(document).ready(function () {
            var dynatable = $('#table').dynatable({
                table: {
                    defaultColumnIdStyle: 'lowercase'
                },
                dataset: {
                    records: json
                }
            },
         { features: { pushState: false } }).data("dynatable");
            var map = new Highcharts.chart({
                chart: {
                    renderTo: 'container',
                    type: 'column'
                },
                title: {
                    text: graphdata.Title
                },
                subtitle: {
                    text: 'Source: <a href="http://www.ubos.org/">UBOS.org</a>'
                },
                xAxis: {
                    categories: graphdata.xAxis,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Population (millions)',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: graphdata.yAxis
            });
            function graphType(type) {
                map = new Highcharts.chart({
                    chart: {
                        polar: true,
                        renderTo: 'container',
                        type: type
                    },
                    title: {
                        text: graphdata.Title
                    },
                    subtitle: {
                        text: 'Source: <a href="http://www.ubos.org/">UBOS.org</a>'
                    },
                    xAxis: {
                        categories: graphdata.xAxis,
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Population (millions)',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 80,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: graphdata.yAxis
                });
            }

            $(".btns").on("click", function (e) {
                console.log("Changed Option");
                graphType($(this).attr('id'));
            })


        });
    </script>
}
