@{
    ViewBag.Title = "VisualizerHome";
}
<div class="container" style="background-color:white;padding: 67px;">
    <div class="row grid-divider">
        @foreach (var list in ViewBag.stats)
        {
            <div class="col-sm-4">
                <div class="col-padding">
                    <h3><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @list.Title</h3>
                    <p>@list.Description</p>
                    <button id="@list.id" class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i>Show</button>
                </div>
            </div>
        }
    </div>
    <div class="row grid-divider">
        @foreach (var list in ViewBag.stats)
        {
            <div class="col-sm-4">
                <div class="col-padding">
                    <h3><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @list.Title</h3>
                    <p>@list.Description</p>
                    <button id="@list.id" class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i>Show</button>
                </div>
            </div>
        }
    </div>

    <div class="row grid-divider">
        @foreach (var list in ViewBag.stats)
        {
            <div class="col-sm-4">
                <div class="col-padding">
                    <h3><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> @list.Title</h3>
                    <p>@list.Description</p>
                    <button id="@list.id" class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i>Show</button>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function (e) {
            $(".btn").on("click", function (e) {
                console.log($(this).attr("id"));
                window.location = "/DataImport/Visualize/" + $(this).attr("id")
            })
        });
    </script>

}
