<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - 2015 Population and Census </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



</head>

<body>
    <!-- Navigation -->
    <div class="container header-section">

        <nav class="navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"> <img class="img-responsive img-portfolio img-hover" src="~/Content/img/header-logo.png" alt=""></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a style="color: orange;" href="/Home/Index">Home</a></li>
                        <li><a style="color: orange;" href="/DataImport/getChapters">Census Main Report</a></li>
                        @*<li><a style="color: orange;" href="#">Publications &amp; Feature Articles</a></li>*@
                        <li><a style="color: orange;" href="/DataImport/Index">Visualizations</a></li>
                        <li><a style="color: orange;" href="/ReleaseCalendar/">Release Calendar</a></li>
                        <li>
                        <li>
                            <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    </div>
    <div class="container">

        @RenderBody()
        <hr />

    </div>
    <footer role="contentinfo" class="site-footer" id="colophon">
        <div class="container">
            <div class="row">
                <div id="accordion" class="collapse-footer">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed"> <span class="glyphicon glyphicon-chevron-down"></span> </a> </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="title"><span>Main Navigation</span></h5>
                                        <div class="menu-main-menu-container">
                                            <ul class="nav nav-footer" id="menu-main-menu-1">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-16"><a href="http://localhost/wpJoinRedHawk/">Home</a></li>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Service Support Model</a></li>
                                                <li><a href="#">Payouts And Fees</a></li>
                                                <li><a href="#">Practice Models</a></li>
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">Join With Us</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <h5 class="title"><span>Site map</span></h5>
                                        <div class="menu-footer-sitemap-container">
                                            <ul class="nav nav-footer" id="menu-footer-sitemap">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87" id="menu-item-87"><a href="http://localhost/wpJoinRedHawk/?page_id=82">Payouts And Fees</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88" id="menu-item-88"><a href="#">Service Support Model</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89" id="menu-item-89"><a href="#">About Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3  col-sm-6">
                                        <h5 class="title"><span>Don't hesitate to contact us!</span></h5>
                                        <p> Please give us time to let <strong>UBOSCENS</strong> know about any problems or suggestions what you have.</p>
                                        <div class="clear"> </div>
                                        <a class="btn btn-default btn-sm" href="#">Contact with us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row copyright-img">
                    <div class="col-lg-4 col-sm-4"> Uganda Bureau of Statistics (UBOS)</div>
                    <div class="col-lg-8 col-sm-8 text-right" id="footertext"> Plot 9 Colville Street, P.O. box 7186 Kampala, Uganda; Telephone: (256-414) 7060000 Fax: (256-414) 237553/230370; E-mail: ubos@ubos.org; Website: www.ubos.org. </div>
                </div>
            </div>
        </div>
        <!-- /Copyright -->
    </footer>
    <!-- /footer -->
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/map.js"></script>

    <script src="~/Content/UGD44/_ugdat.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="~/Content/UGD44/boottree.js"></script>
    <script src="~/Content/UGD44/carousel.js"></script>
    <script src="~/Content/cssfx.js"></script>
    <script src="~/Content/kcounter.js"></script>

    <script>
        $(document).ready(function (e) {
            console.log("Loading Counter");
            var num = 958855210;
            // initialise
            $('#counter').kCounter({
                height: 25,
                width: 25,
                easing: 'easeOutElastic'
            });
            $('#counter').kCounter({ initial: num, duration: 1000 });
            setInterval(function () {

                $('#counter').kCounter('update', num++);
            }, 1000);
            // $('.selectpicker').selectpicker();
        })
    </script>
</body>
</html>
